body{
	background-image: url("../images/asa1.jpg");
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#navbar{
	background-color: #333;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: impact;
	text-align: center;
}

#navbar a:hover{
	background-color: #ddd;
	color: black;
}

.login{
	text-align: center;
	background-color: #333;
	padding: 30px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	color: white;
	border: 5px solid #006600;
	border-radius: 100px;

}

#footer{
	background: black;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: 100px;
}